<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
  <title>Register</title>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70vh;
    }
    .form-container {
      width: 400px;
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    .welcome-text {
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <%- include('partials/_header') %>
  <div class="container">
    <div class="welcome-text">
      <h2>Welcome to Tiny APP! 👋 </h2>
      <h3>Sign up and start shortening</h3>
    </div>
    <div class="form-container">
      <h1 class="text-center">Create Account</h1>
      <% if (error) { %>
        <p><%= error %></p>
      <% } %>
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="email">Email:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">📧</span>
            </div>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">🔑</span>
            </div>
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-sm w-100">Register</button> 
        </div>
      </form>
    </div>
    <p>Already have an account? <a href="/login">Log in</a></p>
  </div>
</body>
</html>
